.ctn-calendar {
  &-selector {
    display: flex;
    .btn {
      &-months, &-years {
        .ctn-selector-months, .ctn-selector-years {
            position: relative;
          .btn-default {
            padding: 4px 16px;
            border-radius: 10px;
            border: 1px solid #d9d9d9;
            margin: 0 5px 5px;
          }
          .select-list-ctn {
            position: absolute;
            top: 100%;
            .select-list {
              display: flex;
              flex-direction: column;
              border-radius: 10px;
              & > button {
                &:first-child {
                  border-radius: 10px 10px 0 0;
                }
                &:last-child {
                  border-radius: 0 0 10px 10px;
                }
                border: none;
                text-align: left;
                padding: 3px 30px;
                background-color: #d9d9d9;
                &:hover {
                  background-color: #f2f2f2;
                }
              }
            }
          }
        }
      }
    }
  }

  &-date-picker{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .ctn-days, .ctn-day-number {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 5px;
      margin: 10px 0;
      .btn-day, .btn-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        &.disabled {
          color: #d9d9d9;
          cursor: not-allowed;
        }
        &.selected {
          background-color: #d9d9d9;
        }
        &.today {
          background-color: #f2f2f2;
        }
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
}
